<img src="https://lh3.googleusercontent.com/u/1/drive-viewer/AFDK6gNQ4P4weDEvkHzqlMbbJfaJTb5MVH_hnCq0L8azPFOvwM2q1t5J6O5QH5tK01rq6eBLY5i7jlmHmxmetoF8gshBXjTgIA=w1366-h638" alt="Alternative text" height=350 />

# Pandas Assignment
**This Notebook is Prepared by MSP Data science Committee Leaders**

# # Solved by Engy Abd elmalak

# SF Salaries

One way to understand how a city government works is by looking at who it employs and how its employees are compensated. This data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.

## Import pandas.

In [1]:
import pandas as pd
import numpy as np
# To Avoid The silly warning messages uncomment the following line
pd.set_option('mode.chained_assignment', None)

## Read Salaries.csv as a dataframe called <b><u>sal</b></u>.

In [2]:
path = 'E:\\data analysis applai\\assignment\\Salaries.csv'
sal = pd.read_csv(path)

C:\Users\dell\AppData\Local\Temp\ipykernel_21264\2836107011.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv(path)

## Display The first 15 Row

In [3]:
sal.head(15)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.3,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.0,0.0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.0,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.3,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN

## Now see how are the data types of the coulmns

In [4]:
sal.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

## Do you see that Everything is perfect ??
* If you agree Print <b><u>YES!!</u></b> three times
* Else Print <b><u>NO !!! </u></b> three times then Try to change fix the columns and show them after getting fixed **(TIP : Put the corrected in a new dataframe and reset the index in the new dataframe)**

In [5]:
print(3*'NO ')

NO NO NO

In [21]:
numeric_columns = ['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits','Agency','Status','Notes']
for col in numeric_columns:
    sal[col] = pd.to_numeric(sal[col], errors='coerce')  # Convert to float, handle missing values
# Reset the index in the dataframe
sal.reset_index(drop=True, inplace=True)
print("Modified Dataframe 'sal' with Corrected Columns:")
print(sal)
sal.dtypes

Modified Dataframe 'sal' with Corrected Columns:
            Id  EmployeeName  JobTitle    BasePay  OvertimePay   OtherPay  \
0            1           NaN       NaN  167411.18         0.00  400184.25
1            2           NaN       NaN  155966.02    245131.88  137811.38
2            3           NaN       NaN  212739.13    106088.18   16452.60
3            4           NaN       NaN   77916.00     56120.71  198306.90
4            5           NaN       NaN  134401.60      9737.00  182234.59
...        ...           ...       ...        ...          ...        ...
148649  148650           NaN       NaN       0.00         0.00       0.00
148650  148651           NaN       NaN        NaN          NaN        NaN
148651  148652           NaN       NaN        NaN          NaN        NaN
148652  148653           NaN       NaN        NaN          NaN        NaN
148653  148654           NaN       NaN       0.00         0.00    -618.13

        Benefits   TotalPay  TotalPayBenefits  Year  Notes  Agency  Status  \
0            NaN  567595.43         567595.43  2011    NaN     NaN     NaN
1            NaN  538909.28         538909.28  2011    NaN     NaN     NaN
2            NaN  335279.91         335279.91  2011    NaN     NaN     NaN
3            NaN  332343.61         332343.61  2011    NaN     NaN     NaN
4            NaN  326373.19         326373.19  2011    NaN     NaN     NaN
...          ...        ...               ...   ...    ...     ...     ...
148649       0.0       0.00              0.00  2014    NaN     NaN     NaN
148650       NaN       0.00              0.00  2014    NaN     NaN     NaN
148651       NaN       0.00              0.00  2014    NaN     NaN     NaN
148652       NaN       0.00              0.00  2014    NaN     NaN     NaN
148653       0.0    -618.13           -618.13  2014    NaN     NaN     NaN

        TotalPayBenefits_EGP
0               2.686429e+07
1               2.550658e+07
2               1.586880e+07
3               1.572982e+07
4               1.544724e+07
...                      ...
148649          0.000000e+00
148650          0.000000e+00
148651          0.000000e+00
148652          0.000000e+00
148653         -2.925609e+04

[148654 rows x 14 columns]

Id                        int64
EmployeeName            float64
JobTitle                float64
BasePay                 float64
OvertimePay             float64
OtherPay                float64
Benefits                float64
TotalPay                float64
TotalPayBenefits        float64
Year                      int64
Notes                   float64
Agency                  float64
Status                  float64
TotalPayBenefits_EGP    float64
dtype: object

## Display all entries for the Columns from BasePay to TotalPayBenefits using iloc[]

In [7]:

columns = sal.iloc[:, 3:9]

print(columns)

          BasePay  OvertimePay   OtherPay  Benefits   TotalPay  \
0       167411.18         0.00  400184.25       NaN  567595.43
1       155966.02    245131.88  137811.38       NaN  538909.28
2       212739.13    106088.18   16452.60       NaN  335279.91
3        77916.00     56120.71  198306.90       NaN  332343.61
4       134401.60      9737.00  182234.59       NaN  326373.19
...           ...          ...        ...       ...        ...
148649       0.00         0.00       0.00       0.0       0.00
148650        NaN          NaN        NaN       NaN       0.00
148651        NaN          NaN        NaN       NaN       0.00
148652        NaN          NaN        NaN       NaN       0.00
148653       0.00         0.00    -618.13       0.0    -618.13

        TotalPayBenefits
0              567595.43
1              538909.28
2              335279.91
3              332343.61
4              326373.19
...                  ...
148649              0.00
148650              0.00
148651              0.00
148652              0.00
148653           -618.13

[148654 rows x 6 columns]

## Show The data of the employee with the Least salary
* Is his Total pay Logical (Provide your answer in a print statment with the reason and treat this error)

In [8]:
# Find the employee with the least salary
employee_least_salary = sal[sal['BasePay'] == sal['BasePay'].min()]

# Display the data of the employee with the least salary
print("Employee with the least salary:")
print(employee_least_salary)

# Check if the total pay is logical
logical_total_pay = employee_least_salary['TotalPay'].iloc[0] == (employee_least_salary['BasePay'].iloc[0] +
                                                                 employee_least_salary['OvertimePay'].iloc[0] +
                                                                 employee_least_salary['OtherPay'].iloc[0] +
                                                                 employee_least_salary['Benefits'].iloc[0])
if logical_total_pay:
    print("The total pay is logical.")
else:
    print("The total pay is not logical.")

Employee with the least salary:
          Id    EmployeeName      JobTitle  BasePay  OvertimePay  OtherPay  \
72832  72833  Irwin Sidharta  Junior Clerk  -166.01       249.02       0.0

       Benefits  TotalPay  TotalPayBenefits  Year  Notes         Agency Status
72832      6.56     83.01             89.57  2012    NaN  San Francisco    NaN
The total pay is not logical.

## What is the most common JobTitle among this dataset

In [9]:
# Find the most common JobTitle
most_common_job_title = sal['JobTitle'].value_counts().idxmax()

print("The most common JobTitle among this dataset is:", most_common_job_title)

The most common JobTitle among this dataset is: Transit Operator

## Display the top 5 highest/lowest Avreage Total Pay Benefits

In [10]:
# Display the top 5 highest Average Total Pay Benefits
top_5_highest_avg = sal.groupby('JobTitle')['TotalPayBenefits'].mean().nlargest(5)
print("Top 5 highest Average Total Pay Benefits:")
print(top_5_highest_avg)

# Display the top 5 lowest Average Total Pay Benefits
top_5_lowest_avg = sal.groupby('JobTitle')['TotalPayBenefits'].mean().nsmallest(5)
print("\nTop 5 lowest Average Total Pay Benefits:")
print(top_5_lowest_avg)

Top 5 highest Average Total Pay Benefits:
JobTitle
Chief Investment Officer                          436224.360000
Chief of Police                                   411732.266667
Chief, Fire Department                            408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Gen Mgr, Public Trnsp Dept                        380696.440000
Name: TotalPayBenefits, dtype: float64

Top 5 lowest Average Total Pay Benefits:
JobTitle
Not provided                                 0.000000
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN    149.510000
BOARD/COMMISSION MEMBER, GROUP II          296.511628
BdComm Mbr, Grp2,M=$25/Mtg                 475.047742
BOARD/COMMISSION MEMBER, GROUP III         638.787879
Name: TotalPayBenefits, dtype: float64

## How many people are working for the police? (This is pretty tricky)
**Assign the word <b><u>Police</b></u> to the Notes column**

In [11]:
# Create a list of job titles related to the police
police_job_titles = ['POLICE', 'SHERIFF', 'OFFICER', 'LIEUTENANT', 'SERGEANT', 'CAPTAIN']

# Check if the JobTitle contains any police-related keywords and update the Notes column accordingly
sal['Notes'] = sal.apply(lambda row: 'Police' if any(keyword in row['JobTitle'].upper() for keyword in police_job_titles) else row['Notes'], axis=1)

# Count the number of people working for the police
people_working_for_police = sal[sal['Notes'] == 'Police'].shape[0]

print("Number of people working for the police:", people_working_for_police)

Number of people working for the police: 18042

In [12]:
sal.shape

(148654, 13)

## Check if there is any Duplicates in names
* show the most common name and display his rows
* show the dataframe of non duplicated People and print the number of its rows

In [13]:
# Check for duplicates in names
duplicate_names = sal['EmployeeName'][sal['EmployeeName'].duplicated()]

if duplicate_names.empty:
    print("There are no duplicates in names.")
else:
    print("Duplicates in names:")
    print(duplicate_names)

# Find the most common name
most_common_name = sal['EmployeeName'].mode()[0]

# Display rows of the most common name
print("\nRows of the most common name:", most_common_name)
print(sal[sal['EmployeeName'] == most_common_name])

# DataFrame of non-duplicated people
non_duplicated_people_df = sal.drop_duplicates(subset='EmployeeName', keep=False)

# Print the number of rows in the DataFrame of non-duplicated people
print("\nNumber of rows in the DataFrame of non-duplicated people:", len(non_duplicated_people_df))

Duplicates in names:
43         MICHAEL THOMPSON
359             JOHN MURPHY
435       WILLIAM MCFARLAND
847             SANDRA TONG
864             WILLIAM LEE
                ...
148648          Leon Walker
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
Name: EmployeeName, Length: 37843, dtype: object

Rows of the most common name: Kevin Lee
            Id EmployeeName                        JobTitle    BasePay  \
39715    39716    Kevin Lee                Police Officer 3  115866.90
40570    40571    Kevin Lee                Police Officer 3  117171.41
42510    42511    Kevin Lee  Electrical Transit System Mech   79220.54
49270    49271    Kevin Lee          Deputy Court Clerk III   84512.32
49439    49440    Kevin Lee          Deputy Court Clerk III   84512.34
50123    50124    Kevin Lee               Personnel Analyst   83382.00
52233    52234    Kevin Lee  Senior Parking Control Officer   66774.03
53931    53932    Kevin Lee                Transit Operator   57397.32
55119    55120    Kevin Lee              IS Administrator 2   68940.44
112385  112386    Kevin Lee                      Sergeant 3  137982.14
123141  123142    Kevin Lee  IT Operations Support Admin IV   91606.03
124165  124166    Kevin Lee               Personnel Analyst   88353.01
124658  124659    Kevin Lee                Transit Operator   67230.30

        OvertimePay  OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
39715      23523.30   9313.54  34906.20  148703.74         183609.94  2012
40570      19606.88   4244.90  34610.10  141023.19         175633.29  2012
42510      40247.39   3353.49  38781.04  122821.42         161602.46  2012
49270          0.00   1469.99  36080.30   85982.31         122062.61  2012
49439          0.00    975.44  35902.02   85487.78         121389.80  2012
50123          0.00      0.00  35210.59   83382.00         118592.59  2012
52233       9599.08   1092.62  31902.38   77465.73         109368.11  2012
53931       9989.83   1800.48  34577.54   69187.63         103765.17  2012
55119          0.00      0.00  30650.48   68940.44          99590.92  2012
112385     18537.19  16039.62  43039.12  172558.95         215598.07  2014
123141         0.00   1013.00  34109.61   92619.03         126728.64  2014
124165         0.00      0.00  33172.33   88353.01         121525.34  2014
124658     10961.25   4050.85  36777.83   82242.40         119020.23  2014

         Notes         Agency Status
39715   Police  San Francisco    NaN
40570   Police  San Francisco    NaN
42510      NaN  San Francisco    NaN
49270      NaN  San Francisco    NaN
49439      NaN  San Francisco    NaN
50123      NaN  San Francisco    NaN
52233   Police  San Francisco    NaN
53931      NaN  San Francisco    NaN
55119      NaN  San Francisco    NaN
112385  Police  San Francisco     FT
123141     NaN  San Francisco     FT
124165     NaN  San Francisco     FT
124658     NaN  San Francisco     FT

Number of rows in the DataFrame of non-duplicated people: 76537

## Show me How much is the Total Pay Benefits in Egyptian pound

In [16]:
# Define the exchange rate
exchange_rate_usd_to_egp = 47.33

# Convert 'TotalPayBenefits' column to Egyptian pounds
sal['TotalPayBenefits_EGP'] = sal['TotalPayBenefits'] * exchange_rate_usd_to_egp

# Display the DataFrame with the new column
print(sal[['EmployeeName', 'TotalPayBenefits', 'TotalPayBenefits_EGP']])

             EmployeeName  TotalPayBenefits  TotalPayBenefits_EGP
0          NATHANIEL FORD         567595.43          2.686429e+07
1            GARY JIMENEZ         538909.28          2.550658e+07
2          ALBERT PARDINI         335279.91          1.586880e+07
3       CHRISTOPHER CHONG         332343.61          1.572982e+07
4         PATRICK GARDNER         326373.19          1.544724e+07
...                   ...               ...                   ...
148649      Roy I Tillery              0.00          0.000000e+00
148650       Not provided              0.00          0.000000e+00
148651       Not provided              0.00          0.000000e+00
148652       Not provided              0.00          0.000000e+00
148653          Joe Lopez           -618.13         -2.925609e+04

[148654 rows x 3 columns]

# Great Job!

# <img src="https://lh3.googleusercontent.com/u/1/drive-viewer/AFDK6gPCq8mIoFZZvP6W7WRpcDcnLBjoAL0u4NGB1nHCxyMsY7HqgeW3u-_bYATP03ArkFITJ9od5keJm9ate7DmLhd_mu9J=w1366-h638" alt="Alternative text" width=450 height=450 />